//Fuentes
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;700;800;900&display=swap");
$fuente_principal: "Poppins", serif;

//Tamaño mq
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$negro: #000000;
$blanco: #ffffff;
$verde: #71b100;
$verdeOscuro: #508d4e;
$rosa: #c75b7a;
$rosaOscuro: #921a40;
$rosaClaro: #d9abab;
$gris: #e1e1e1;
$grisOscuro: #333333;

//Extras
$separacion: 5rem;
